<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
            <a class="navbar-brand" href="#">
                Profile
            </a>
            <a href="#" class="navbar-brand pull-right">
              <span class="glyphicon glyphicon-ok">
              </span>
            </a>
    </div>
</nav>


    <div class="container-fluid">
        <form class="custom-pad">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" ng-model="model.user.username" disabled>
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" value="alice@wonderland.com" placeholder="email">
            </div>
            <div class="form-group">
                <label for="firstname">First Name</label>
                <input type="text" class="form-control" id="firstname" ng-model="model.user.firstName" placeholder="firstname">
            </div>
            <div class="form-group">
                <label for="lastname">Last Name</label>
                <input type="text" class="form-control" id="lastname" ng-model="model.user.lastName" placeholder="lastname">
            </div>
        </form>

        <a class="btn btn-primary btn-block"
           href="../../website/website-list.html">Websites</a>
        <a class="btn btn-danger  btn-block"
           href="login.view.client.html">Logout</a>
    </div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <a href="#" class="navbar-brand pull-right">
              <span class="glyphicon glyphicon-user">
              </span>
        </a>
    </div>
</nav>
