input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 50px;
}
.navbar-default {
    background-color: #337ab7;
    border-color: #e7e7e7;
}
.navbar-nav {
    background-color: lightgrey;
    border-color: #e7e7e7;
}
.navbar-default .navbar-brand {
    color: #ffffff;
}
.navbar-nav .navbar-brand {
    color: #383838;
}

.list-group-item{
    border: none;
}

.cog{
    padding-right: 18px;
}
.border {
    border-right: 1px solid darkgrey;
    /*float: none;*/
    /*display: table-cell;*/
    /*border: 1px solid;*/

}

.full-page{
    height:90vh;
}
.custom-pad {
    padding-top: 10px;
}