input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 50px;
}
.navbar-default {
    background-color: #337ab7;
    border-color: #e7e7e7;
}
.navbar-default .navbar-brand {
    color: #ffffff;
}
.navbar-default .navbar-link {
    color: #ffffff;
}
.navbar-default .navbar-text {
    color: #ffffff;
}