input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 50px;
    padding-bottom: 60px;
    color: #eae3ea;
    /*background-color: rgba(241,159,77,0.8);*/
    background-color: #30415d;
    /*background-image: url("../images/insurance.jpg");*/
}
.navbar-default {
    background-color: rgba(3,20,36,0.7);
    border-color: #e7e7e7;
}
.navbar-nav {
    background-color: lightgrey;
    border-color: #e7e7e7;
    padding-top: 0px;
    margin-top:0px;
    margin-bottom: 0px;
}
.navbar-default .navbar-brand,.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:active,.navbar-default .navbar-brand:focus  {
    color: #ffffff;
    text-decoration: none;
}
.navbar-nav .navbar-brand {
    color: #383838;
    /*text-decoration: none;*/
}

.list-group-item{
    border: none;
}

.cog{
    padding-right: 18px;
}
.border {
    border-right: 1px solid darkgrey;
    /*float: none;*/
    /*display: table-cell;*/
    /*border: 1px solid;*/

}

.full-page{
    height:90vh;
}
.custom-pad {
    padding-top: 30px;
}
.custom-widget{
    position: relative;
    margin-top: 20px;
}
.custom-toolbar{
    position: absolute;
    top: 0px;
    right: 0px;
    opacity: 0.7;
    border-bottom-left-radius: 10px;
    background: white;
    padding-left: 5px;
    padding-bottom: 3px;
    z-index: 1000;
}

.custom-login-border{
    border-top: 1px solid#888;
    padding-top:15px;
    font-size:85%;
    color: #202020;
}

.custom-register-signinlink{
    float:right;
    font-size: 85%;
    position: relative;
    top:-10px
}

.panel-info>.panel-heading{
    background-color: #cf6766;
    color: white;
    border-color: #cf6766
}

.panel-info {
    border-color: #cf6766;
}

.panel>.panel-default{
    background-color: inherit;
}
.jumbotron{
    /*background-color: #30415d;*/
    background-color: rgba(3,20,36,0.7);
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15px;
}

.home-title{
    color: #cf6766;
    display: block;
    border-radius: 15px;
    text-align: center;
}

label{
    color: #202020;
}

/*a {*/
    /*color: white;*/
    /*text-decoration: none;*/
/*}*/

.black{
    color: #202020;
}

/*.bluelink{*/
    /*color: #337ab7;*/
/*}*/

/* Profile container */
.profile {
    margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
    padding: 20px 0 10px 0;
    background: #fff;
}

.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.profile-usermenu {
    margin-top: 30px;
}

.profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
    border-bottom: none;
}

.profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
}

.profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
}

.profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
}

.profile-usermenu ul li.active {
    border-bottom: none;
}

.profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
}

/* Profile Content */
.profile-content {
    padding: 20px;
    background: #fff;
    min-height: 460px;
    color: #5b9bd1;
}