input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 50px;
    padding-bottom: 60px;
    color: #eae3ea;
    /*background-color: rgba(241,159,77,0.8);*/
    background-color: #30415d;
    /*background-image: url("../images/insurance.jpg");*/
}
.navbar-default {
    background-color: #4484CE;
    border-color: #e7e7e7;
}
.navbar-nav {
    background-color: lightgrey;
    border-color: #e7e7e7;
    padding-top: 0px;
    margin-top:0px;
    margin-bottom: 0px;
}
.navbar-default .navbar-brand,.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:active,.navbar-default .navbar-brand:focus  {
    color: #ffffff;
    text-decoration: none;
}
.navbar-nav .navbar-brand {
    color: #383838;
    /*text-decoration: none;*/
}

.list-group-item{
    border: none;
}

.cog{
    padding-right: 18px;
}
.border {
    border-right: 1px solid darkgrey;
    /*float: none;*/
    /*display: table-cell;*/
    /*border: 1px solid;*/

}

.full-page{
    height:90vh;
}
.custom-pad {
    padding-top: 30px;
}
.custom-widget{
    position: relative;
    margin-top: 20px;
}
.custom-toolbar{
    position: absolute;
    top: 0px;
    right: 0px;
    opacity: 0.7;
    border-bottom-left-radius: 10px;
    background: white;
    padding-left: 5px;
    padding-bottom: 3px;
    z-index: 1000;
}

.custom-login-border{
    border-top: 1px solid#888;
    padding-top:15px;
    font-size:85%;
    color: #202020;
}

.custom-register-signinlink{
    float:right;
    font-size: 85%;
    position: relative;
    top:-10px
}

.panel-info>.panel-heading{
    background-color: #cf6766;
    color: white;
    border-color: #cf6766
}

.panel-info {
    border-color: #cf6766;
}

.panel>.panel-default{
    background-color: inherit;
}
.jumbotron{
    /*background-color: #30415d;*/
    background-color: rgba(3,20,36,0.7);
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15px;
}

.home-title{
    color: #cf6766;
    display: block;
    border-radius: 15px;
    text-align: center;
}

label{
    color: #202020;
}

a {
    color: white;
    text-decoration: none;
}

.black{
    color: #202020;
}

.bluelink{
    color: #337ab7;
}