<nav class="navbar navbar-nav navbar-fixed-top">
    <div class="container-fluid">
        <a href="#!/user/{{model.userId}}/website/{{model.wid}}/page/{{model.pid}}/widget" ng-click="model.widgetType = false" class="navbar-brand">
            <span class="glyphicon glyphicon-chevron-left">
            </span>
        </a>
        <a class="navbar-brand" href="#">
            Choose Widgets
        </a>
    </div>
</nav>

<div class="container-fluid">
    <div class="custom-pad">
        <div ng-show="model.message" class="alert alert-danger">
            {{model.message}}
        </div>
    </div>
<ul ng-if="!model.widgetType" class="list-group custom-pad">
    <li ng-repeat="widget in model.widgets" class="list-group-item">
        <div class="row">
            <div class="col-lg-12">
                <a ng-click="model.select(widget)">
                    {{widget}}
                </a>
            </div>
        </div>
    </li>
</ul>
    <div ng-if="model.widgetType" ng-include="model.getWidgetNewUrl(model.widgetType)"></div>
    <br>
    <a ng-if="model.widgetType" ng-click="model.createWidget(model.widget)" class="btn btn-primary btn-block">
        Create
    </a>
</div>

<nav class="navbar navbar-nav navbar-fixed-bottom">
    <div class="container-fluid">
        <a href="#!/profile" class="navbar-brand pull-right">
              <span class="glyphicon glyphicon-user">
              </span>
        </a>
    </div>
</nav>