<nav class="navbar navbar-nav navbar-fixed-top">
    <div class="container-fluid">
        <a href="#!user/{{model.userId}}/website/{{model.wid}}/page" class="navbar-brand">
            <span class="glyphicon glyphicon-chevron-left">
            </span>
        </a>
        <a class="navbar-brand" href="#">
            Widgets
        </a>
        <a href="#!user/{{model.userId}}/website/{{model.wid}}/page/{{model.pid}}/widget/new" class="navbar-brand pull-right">
              <span class="glyphicon glyphicon-plus">
              </span>
        </a>
    </div>
</nav>

<div class="container-fluid">
    <div ng-repeat="widget in model.widgets" class="custom-widget">
        <div class="custom-toolbar">
            <a href="#!user/{{model.userId}}/website/{{model.wid}}/page/{{model.pid}}/widget/{{widget._id}}">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <div ng-switch="widget.widgetType">
            <div ng-switch-when="HEADING">
                <div ng-include="'views/widget/templates/widget-heading.view.client.html'"></div>
            </div>
            <div ng-switch-when="IMAGE">
                <div ng-include="'views/widget/templates/widget-image.view.client.html'"></div>
            </div>
            <div ng-switch-when="HTML" ng-bind-html="model.trustThisContent(widget.text)">
            </div>
            <div ng-switch-when="YOUTUBE">
                <div ng-include="'views/widget/templates/widget-youtube.view.client.html'"></div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-nav navbar-fixed-bottom">
    <div class="container-fluid">
        <a href="#!user/{{model.userId}}" class="navbar-brand pull-right">
              <span class="glyphicon glyphicon-user">
              </span>
        </a>
    </div>
</nav>