<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 user-scalable=no">
    <title>Widget Edit</title>
    <link href="../../vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../css/style.css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-nav navbar-fixed-top">
    <div class="container-fluid">
        <a href="widget-list.html" class="navbar-brand">
            <span class="glyphicon glyphicon-chevron-left">
            </span>
        </a>
        <a class="navbar-brand" href="#">
            Widget Edit
        </a>
        <a href="widget-list.html" class="navbar-brand pull-right ">
              <span class="glyphicon glyphicon-ok">
              </span>
        </a>
    </div>
</nav>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form class="custom-pad">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="text">Text</label>
                    <input type="text" class="form-control" id="text" value="lorem epsum">
                </div>
                <div class="form-group">
                    <label for="url">URL</label>
                    <input type="text" class="form-control" id="url" value="https://youtu.be/q7QDJBMIL7s">
                </div>
                <div class="form-group">
                    <label for="size">Width</label>
                    <input type="text" class="form-control" id="size">
                </div>
            </form>
            <a href="widget-list.html" class="btn btn-danger btn-block">
                Delete
            </a>
        </div>
    </div>
</div>

<nav class="navbar navbar-nav navbar-fixed-bottom">
    <div class="container-fluid">
        <a href="../user/templates/profile.view.client.html" class="navbar-brand pull-right">
              <span class="glyphicon glyphicon-user">
              </span>
        </a>
    </div>
</nav>
</body>
</html>