<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 user-scalable=no">
    <title>Widget List</title>
    <link href="../../vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../css/style.css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-nav navbar-fixed-top">
    <div class="container-fluid">
        <a href="../page/page-list.html" class="navbar-brand">
            <span class="glyphicon glyphicon-chevron-left">
            </span>
        </a>
        <a class="navbar-brand" href="#">
            Widgets
        </a>
        <a href="widget-chooser.html" class="navbar-brand pull-right">
              <span class="glyphicon glyphicon-plus">
              </span>
        </a>
    </div>
</nav>

<div class="container-fluid">
    <div class="custom-widget">
        <div class="custom-toolbar">
            <a href="widget-heading.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <h1>GIZMODO</h1>
    </div>
    <div class="custom-widget">
        <div class="custom-toolbar">
            <a href="widget-heading.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <h3>Inside The Mess At Faraday Future That Drove Out One Of The World's Top Auditors</h3>
    </div>
    <div class="custom-widget">
        <div class="custom-toolbar">
            <a href="widget-image.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <img width="100%" src="https://i.kinja-img.com/gawker-media/image/upload/s--qMfDQR_x--/c_scale,fl_progressive,q_80,w_800/st62vuudnzjlqzkuf6lo.jpg">
    </div>
    <div class="custom-widget">
        <div class="custom-toolbar">
            <a href="widget-heading.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <p>Startup automaker <a href="http://jalopnik.com/tag/faraday-future" rel="nofollow">Faraday Future</a> hired the best, as it often did, when it needed an audit of its finances to help secure vital fundraising and government loans. But what auditor KPMG—one of the world’s biggest and most well-regarded auditing firms—walked into when it agreed to look at Faraday’s books was a company with no coherent corporate structure, financial statements in complete disarray, and a $60,000 per month lunch bill, according to internal emails seen by Jalopnik. </p>
    </div>
    <div class="custom-widget">
        <div class="custom-toolbar">
            <a href="widget-heading.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <h3>AWS KC Videos: How do I host multiple websites on an EC2 Windows instance?</h3>
    </div>
    <div class="custom-widget">
        <div class="embed-responsive embed-responsive-16by9">
            <div class="custom-toolbar">
                <a href="widget-youtube.html">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
                <span class="glyphicon glyphicon-align-justify"></span>
            </div>
            <iframe class="embed-responsive-item" width="100%" height="100%" src="https://www.youtube.com/embed/FJZgwPpLvEw" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="custom-widget">
        <div class="custom-toolbar">
            <a href="widget-heading.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <p>But the episode highlights the financial difficulties that have plagued the company from the outset—an issue that’s noteworthy ever since Faraday’s main financier, the Chinese tech-conglomerate LeEco, announced last month that it was <a href="http://jalopnik.com/leeco-is-reportedly-laying-off-80-percent-of-its-staff-1795467304" rel="nofollow">slashing its U.S. workforce</a> and dramatically scaling back its operations in the nation. </p>
    </div>

</div>

<nav class="navbar navbar-nav navbar-fixed-bottom">
    <div class="container-fluid">
        <a href="../user/templates/profile.view.client.html" class="navbar-brand pull-right">
              <span class="glyphicon glyphicon-user">
              </span>
        </a>
    </div>
</nav>
</body>
</html>