<div class="container-fluid">
    <div class="row profile">
        <div class="col-lg-3">
            <div class="profile-sidebar">
                <div class="profile-userpic">
                    <img src="../../../../project/images/profile_male.jpg" class="img-responsive" alt="">
                </div>
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        {{model.user.firstName}} {{model.user.lastName}}
                    </div>
                    <div class="profile-usertitle-job">
                        {{model.user.email}}
                    </div>
                </div>
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li class="active">
                            <a href="#">
                                <i class="glyphicon glyphicon-home"></i>
                                Overview </a>
                        </li>
                        <li>
                            <a href="#!/profile">
                                <i class="glyphicon glyphicon-picture"></i>
                                Profile </a>
                        </li>
                        <li ng-show="currentUser.roles == 'ADMIN'">
                            <a href="#!/users">
                                <i class="glyphicon glyphicon-user"></i>
                                 Manage Users</a>
                        </li>
                        <li ng-show="currentUser.roles == ('ADMIN')">
                            <a href="#!/product">
                                <i class="glyphicon glyphicon-folder-open"></i>
                                Manage Products </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div ng-show="currentUser.roles == ('USER')" class="profile-content">
                <uib-tabset active="active">
                    <uib-tab index="0" heading="My Applications" class="black">
                        <div class="custom-pad">
                            <a href="#!/application" class="btn btn-primary">
                                Start new Application
                            </a>
                        </div>
                        <div ng-repeat="app in model.applications" class="panel-group custom-pad">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-target="#{{app._id}}">Application ID: {{app._id}}
                                        <span class="glyphicon glyphicon-chevron-down pull-right"></span></a>
                                    </h4>
                                </div>
                                <div id="{{app._id}}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Insured name : {{app.firstName}} {{app.lastName}}<br>
                                        Product Title: {{app._product.productTitle}}<br>
                                        Payment frequency: {{app.paymentFreq}}<br>
                                        Product Premium: ${{app._product.premium}}<br>
                                        Product Coverage: ${{app._product.coverage}}<br>
                                        Deductible: ${{app._product.deductible}}<br>

                                        <div class="custom-pad">
                                            <a href="#!/application/{{app._id}}" class="btn btn-primary">
                                                Update Application
                                            </a>
                                            <button ng-click="model.cancelPolicy(app._id)" class="btn btn-danger" name="remove_levels" value="delete">
                                                Withdraw Application
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab index="1" heading="My Policies" class="black">
                        <div ng-repeat="policy in model.policies" class="panel-group custom-pad">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-target="#{{policy._id}}">Policy ID: {{policy._id}}
                                            <span class="glyphicon glyphicon-chevron-down pull-right"></span></a>
                                    </h4>
                                </div>
                                <div id="{{policy._id}}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Insured name : {{policy.firstName}} {{policy.lastName}}<br>
                                        Product Title: {{policy._product.productTitle}}<br>
                                        Payment frequency: {{policy.paymentFreq}}<br>
                                        Product Premium: ${{policy._product.premium}}<br>
                                        Product Coverage: ${{policy._product.coverage}}<br>
                                        Deductible: ${{policy._product.deductible}}<br>
                                        <div class="custom-pad">
                                            <a href="#!/application/{{policy._id}}" class="btn btn-primary">
                                                Update Policy
                                            </a>
                                            <a ng-click="model.cancelPolicy(policy._id)" class="btn btn-danger">
                                                Terminate Policy
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
            <div ng-show="currentUser.roles == ('APPROVER')" class="profile-content">
                <uib-tabset active="active">
                    <uib-tab index="0" heading="Applications to be approved" class="black">
                        <div ng-repeat="appl in model.allApplications" class="panel-group custom-pad">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-target="#{{appl._id}}">Application ID: {{appl._id}}
                                            <span class="glyphicon glyphicon-chevron-down pull-right"></span></a>
                                    </h4>
                                </div>
                                <div id="{{appl._id}}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Insured name : {{appl.firstName}} {{appl.lastName}}<br>
                                        Product Title: {{appl._product.productTitle}}<br>
                                        Payment frequency: {{appl.paymentFreq}}<br>
                                        Product Premium: ${{appl._product.premium}}<br>
                                        Product Coverage: ${{appl._product.coverage}}<br>
                                        Deductible: ${{appl._product.deductible}}<br>
                                        <div class="custom-pad">
                                            <a ng-click="model.approveApplication(appl)" class="btn btn-primary">
                                                Approve Application
                                            </a>
                                            <button ng-click="model.cancelPolicy(appl._id)" class="btn btn-danger" name="remove_levels" value="delete">
                                                Reject Application
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab index="1" heading="My approved application" class="black">
                        <div ng-repeat="pol in model.allPolicies" class="panel-group custom-pad">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-target="#{{pol._id}}">Policy ID: {{pol._id}}
                                            <span class="glyphicon glyphicon-chevron-down pull-right"></span></a>
                                    </h4>
                                </div>
                                <div id="{{pol._id}}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Insured name : {{pol.firstName}} {{pol.lastName}}<br>
                                        Product Title: {{pol._product.productTitle}}<br>
                                        Payment frequency: {{pol.paymentFreq}}<br>
                                        Product Premium: ${{pol._product.premium}}<br>
                                        Product Coverage: ${{pol._product.coverage}}<br>
                                        Deductible: ${{pol._product.deductible}}<br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>

                </uib-tabset>
            </div>
            <div ng-show="currentUser.roles == ('ADMIN')" class="profile-content">
                <uib-tabset active="active">
                    <uib-tab index="0" heading="All Applications" class="black">
                        <div ng-repeat="ap in model.adminApplications" class="panel-group custom-pad">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-target="#{{ap._id}}">Application ID: {{ap._id}}
                                            <span class="glyphicon glyphicon-chevron-down pull-right"></span></a>
                                    </h4>
                                </div>
                                <div id="{{ap._id}}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Insured name : {{ap.firstName}} {{ap.lastName}}<br>
                                        Product Title: {{ap._product.productTitle}}<br>
                                        Payment frequency: {{ap.paymentFreq}}<br>
                                        Product Premium: ${{ap._product.premium}}<br>
                                        Product Coverage: ${{ap._product.coverage}}<br>
                                        Deductible: ${{ap._product.deductible}}<br>

                                        <div class="custom-pad">
                                            <a href="#!/application/{{ap._id}}" class="btn btn-primary">
                                                Update Application
                                            </a>
                                            <button ng-click="model.cancelPolicy(ap._id)" class="btn btn-danger" name="remove_levels" value="delete">
                                                Withdraw Application
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab index="1" heading="All Policies" class="black">
                        <div ng-repeat="p in model.adminPolicies" class="panel-group custom-pad">
                            <div  class="panel panel-primary">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-target="#{{p._id}}">Policy ID: {{p._id}}
                                            <span class="glyphicon glyphicon-chevron-down pull-right"></span></a>
                                    </h4>
                                </div>
                                <div id="{{p._id}}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Insured name : {{p.firstName}} {{p.lastName}}<br>
                                        Product Title: {{p._product.productTitle}}<br>
                                        Payment frequency: {{p.paymentFreq}}<br>
                                        Product Premium: ${{p._product.premium}}<br>
                                        Product Coverage: ${{p._product.coverage}}<br>
                                        Deductible: ${{p._product.deductible}}<br>
                                        <div class="custom-pad">
                                            <a href="#!/application/{{p._id}}" class="btn btn-primary">
                                                Update Policy
                                            </a>
                                            <a ng-click="model.cancelPolicy(p._id)" class="btn btn-danger">
                                                Terminate Policy
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</div>