
        <!--<a class="btn btn-primary btn-block"-->
           <!--href="#!user/{{model.user._id}}/website">Websites</a>-->
        <!--<a class="btn btn-success btn-block"-->
           <!--ng-click="model.update(model.user)">Update profile</a>-->
        <!--<a class="btn btn-danger btn-block"-->
           <!--ng-click="model.delete(model.user)">Unregister</a>-->
        <!--<a class="btn btn-danger  btn-block"-->
           <!--href="#!login">Logout</a>-->
    <!--</div>-->
<div class="container-fluid">

            <form id="profile" class="form-horizontal custom-pad" role="form">
                <div ng-show="model.message" class="alert alert-success">
                    {{model.message}}
                </div>
                <div class="form-group">
                    <label for="username" class="col-md-3 control-label">Username</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="username" ng-model="model.user.username" placeholder="username">
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-md-3 control-label">Email</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="email" ng-model="model.user.email" placeholder="Email Address">
                    </div>
                </div>

                <div class="form-group">
                    <label for="firstname" class="col-md-3 control-label">First Name</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="firstname" ng-model="model.user.firstName" placeholder="First Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastname" class="col-md-3 control-label">Last Name</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="lastname" ng-model="model.user.lastName" placeholder="Last Name">
                    </div>
                </div>
                <div class="form-group dropdown">
                    <label for="gender" class="col-md-3 control-label">Gender</label>
                    <div class="col-md-6">
                    <select id="gender" class="form-control" ng-model="model.user.gender">
                        <option value=''>---Please select your Gender---</option> <!-- not selected / blank option -->
                        <option value='Female'>Female</option>
                        <option value='Male'>Male</option>
                        <option value='Other'>Other</option>
                    </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="dob" class="col-md-3 control-label">Date of Birth</label>
                    <div class="col-md-6">
                        <p class="input-group">
                            <input id="dob"type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="model.user.dob" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" placeholder="Date Of Birth" close-text="Close" alt-input-formats="altInputFormats" />
                            <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone" class="col-md-3 control-label">Phone</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="phone" ng-model="model.user.phone" placeholder="Phone">
                    </div>
                </div>
                <div class="form-group">
                    <label for="address" class="col-md-3 control-label">Address</label>
                    <div class="col-md-6">
                        <input type="text" ng-focus="model.geolocate" class="form-control" id="address" ng-model="model.user.address" placeholder="Type your address">
                    </div>
                </div>

                <div class="form-group">
                    <!-- Button -->
                    <div class="col-md-offset-3 col-md-9">
                        <button ng-click="model.update(model.user)" id="btn-signup" type="button" class="btn btn-success"><i class="icon-hand-right"></i> &nbsp Update</button>

                    <a class="btn btn-danger"
                    ng-click="model.delete(model.user)">Unregister</a>
                        <a class="btn btn-success"
                           href="#!/dashboard">Go to dashboard</a>
                    </div>
                </div>
            </form>
</div>



