
<div class="container-fluid">
    <label class="col-md-12 control-label">Enter your address here</label>
    <div class="input-group" >
        <input id="address" ng-model="address" ng-focus="model.geolocate" type="text" class="form-control" placeholder="Type your address">
        <span class="input-group-btn">
        <a ng-click="model.findAddress(address)" class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
        </a>
        </span>
    </div>
    <div ng-hide="model.display">
    <div id="map" style="background-color: white;width: 100%;height: 400px">
    </div>
    </div>
    <!--<form id="foundAddress" class="form-horizontal custom-pad" role="form">-->

        <!--<div class="form-group">-->
            <!--<label for="street_number" class="col-md-3 control-label">Address 1</label>-->
            <!--<div class="col-md-6">-->
                <!--<input type="text" class="form-control" id="street_number" placeholder="street address">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label for="route" class="col-md-3 control-label">Address 2</label>-->
            <!--<div class="col-md-6">-->
                <!--<input type="text" class="form-control" id="route" placeholder="street address">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label for="locality" class="col-md-3 control-label">City</label>-->
            <!--<div class="col-md-6">-->
                <!--<input type="text" class="form-control" id="locality" placeholder="city">-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="form-group">-->
            <!--<label for="administrative_area_level_1" class="col-md-3 control-label">State</label>-->
            <!--<div class="col-md-6">-->
                <!--<input type="text" class="form-control" id="administrative_area_level_1" placeholder="state">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label for="postal_code" class="col-md-3 control-label">Zip Code</label>-->
            <!--<div class="col-md-6">-->
                <!--<input type="text" class="form-control" id="postal_code" placeholder="zip code">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label for="country" class="col-md-3 control-label">Country</label>-->
            <!--<div class="col-md-6">-->
                <!--<input type="text" class="form-control" id="country" placeholder="country">-->
            <!--</div>-->
        <!--</div>-->
    <!--</form>-->

</div>