<div class="container-fluid">
    <div ng-hide="model.showProduct" class="panel-group" id="accordion">
        <div class="panel panel-success">  <!-- accordion 2 -->

            <div class="panel-heading">
                <h4 class="panel-title">What is your annual income? </h4>
            </div>
            <div class="panel-body black">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
                    <input type="number" class="form-control" id="income" placeholder="income" ng-model="model.questions.income">
                </div>
            </div>
        </div>
        <div class="panel panel-success">

            <div class="panel-heading">
                <h4 class="panel-title">How much savings/investments do you have? </h4>
            </div>
            <div class="panel-body black">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
                    <input type="number" class="form-control" id="savings" placeholder="savings" ng-model="model.questions.savings">
                </div>
            </div>
        </div>
        <div class="panel panel-success">

            <div class="panel-heading">
                <h4 class="panel-title">How many members does your household consists of? </h4>
            </div>
            <div class="panel-body black">
                <input type="number" class="form-control" id="householdNo" placeholder="household" ng-model="model.questions.householdNo">
            </div>
        </div>
        <div class="panel panel-success">  <!-- accordion 2 -->

            <div class="panel-heading">
                <h4 class="panel-title">What is your family's average monthly expense? </h4>
            </div>
            <div class="panel-body black">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
                    <input type="number" class="form-control" id="expense" placeholder="monthly expense" ng-model="model.questions.expense">
                </div>
            </div>
        </div>
        <div class="panel panel-success">  <!-- accordion 2 -->

            <div class="panel-heading">
                <h4 class="panel-title">Do you have any debts? </h4>
            </div>
            <div class="panel-body black">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
                    <input type="number" class="form-control" id="debts" placeholder="debts" ng-model="model.questions.debts">
                </div>
            </div>
        </div>
        <div class="panel panel-success">  <!-- accordion 2 -->

            <div class="panel-heading">
                <h4 class="panel-title">Have you used tobacco, nicotine or any nicotine substitution products in any form in the last 5 years? </h4>
            </div>
            <div class="panel-body black">
                <input type="checkbox" checked data-toggle="toggle" ng-model="model.questions.tobacco">
            </div>
        </div>
        <div class="custom-pad">
            <button ng-click="model.findRecommendedProduct(model.questions)" class="btn btn-success">Get a Price</button>
        </div>
    </div>
    <div ng-show="model.showProduct" class="panel-group" id="showproduct">
        <div class="panel panel-success">  <!-- accordion 2 -->

            <div class="panel-heading">
                Recommended Product
            </div>
            <div class="panel-body black">
                {{model.showProduct}}
            </div>
        </div>
        <div class="custom-pad">
            <button class="btn btn-success">Buy</button>
        </div>
    </div>
</div>