 <!--<div class="container-fluid">-->
        <!--<h1>Register</h1>-->
         <!--<div ng-show="model.message" class="alert alert-danger">-->
             <!--{{model.message}}-->
         <!--</div>-->
        <!--<input type="text"-->
               <!--class="form-control"-->
               <!--ng-model="username"-->
               <!--placeholder="username"/>-->
        <!--<input type="password"-->
               <!--class="form-control"-->
               <!--ng-model="password"-->
               <!--placeholder="password"/>-->
        <!--<input type="password"-->
               <!--class="form-control"-->
               <!--ng-model="verifyPassword"-->
               <!--placeholder="verify password"/>-->
        <!--<a class="btn btn-primary btn-block"-->
           <!--ng-click="model.register(username,password,verifyPassword)">Register</a>-->
        <!--<a class="btn btn-danger  btn-block"-->
           <!--href="#">Cancel</a>-->
 <!--</div>-->
 <div class="container-fluid">
     <div id="signupbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
         <div class="panel panel-info">
             <div class="panel-heading">
                 <div class="panel-title">Sign Up</div>
                 <div class="custom-register-signinlink"><a id="signinlink" href="#!/login">Sign In</a></div>
             </div>
             <div class="panel-body" >
                 <form id="signupform" class="form-horizontal" role="form">

                     <div class="form-group">
                         <label for="username" class="col-md-3 control-label">Username</label>
                         <div class="col-md-9">
                             <input type="text" class="form-control" id="username" ng-model="username" placeholder="username">
                         </div>
                     </div>
                     <div class="form-group">
                         <label for="email" class="col-md-3 control-label">Email</label>
                         <div class="col-md-9">
                             <input type="text" class="form-control" id="email" ng-model="email" placeholder="Email Address">
                         </div>
                     </div>

                     <div class="form-group">
                         <label for="firstname" class="col-md-3 control-label">First Name</label>
                         <div class="col-md-9">
                             <input type="text" class="form-control" id="firstname" ng-model="firstname" placeholder="First Name">
                         </div>
                     </div>
                     <div class="form-group">
                         <label for="lastname" class="col-md-3 control-label">Last Name</label>
                         <div class="col-md-9">
                             <input type="text" class="form-control" id="lastname" ng-model="lastname" placeholder="Last Name">
                         </div>
                     </div>
                     <div class="form-group">
                         <label for="password" class="col-md-3 control-label">Password</label>
                         <div class="col-md-9">
                             <input type="password" class="form-control" id="password" ng-model="password" placeholder="Password">
                         </div>
                     </div>
                     <div class="form-group">
                         <label for="conPassword" class="col-md-3 control-label">Confirm Password</label>
                         <div class="col-md-9">
                             <input type="password" class="form-control" id="conPassword" ng-model="conPassword" placeholder="Password">
                         </div>
                     </div>

                     <div class="form-group">
                         <!-- Button -->
                         <div class="col-md-offset-3 col-md-9">
                             <button id="btn-signup" type="button" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Sign Up</button>
                         </div>
                     </div>

                     <!--<div  class="form-group custom-login-border">-->

                         <!--<div class="col-md-offset-3 col-md-9">-->
                             <!--<a id="btn-fblogin" href="#" class="btn btn-social btn-facebook">-->
                                 <!--<span class="fa fa-facebook"></span>Facebook-->
                             <!--</a>-->
                             <!--<a id="btn-glogin" href="#" class="btn btn-social btn-google">-->
                                 <!--<span class="fa fa-google-plus"></span>Google-->
                             <!--</a>-->
                         <!--</div>-->

                     <!--</div>-->
                 </form>
             </div>
         </div>
     </div>

 </div>