<div class="container-fluid">
    <div class="input-group col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 custom-pad" >
        <input ng-model="searchText" type="text" class="form-control" placeholder="Type an illness">
        <span class="input-group-btn">
        <a ng-click="model.getSymptoms(searchText)" class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
        </a>
        </span>
    </div>
    <div class="row col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6">
        <h3 ng-if="model.symptoms">Symptoms of {{searchText}}
            <a href="#!/dashboard" class="btn btn-primary pull-right">
            Back
             </a> </h3>
        <div class="custom-pad" ng-repeat="symptom in model.symptoms">
            <ul>
                <li>
                    <label>{{symptom.name}}</label>
                    <p>{{symptom.description}}</p>
                </li>
            </ul>

        </div>
    </div>
</div>