<div class="container-fluid">
<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">Webdev Assignment</h3>
                    <nav>
                        <ul class="nav masthead-nav">
                            <li class="active"><a href="#!/">Home</a></li>
                            <li><a href="#!/">Login</a></li>
                            <li><a href="#!/user">Profile</a></li>
                            <li><a href="#!/register">Register</a></li>
                            <li><a href="#!/recommend">Recommend</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="inner cover">
                <h1 class="cover-heading">Naomi Joshi</h1>
                <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
            </div>

            <div class="mastfoot">
                <div class="inner">
                    <p>Cover template for <a href="http://portal-cs5610online.rhcloud.com/portal/index.html#/course/agenda">CS5610</a>.</p>
                </div>
            </div>

        </div>

    </div>

</div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../../vendor/bootstrap/dist/js/bootstrap.min.js"></script>